mixin select(args)
  select(name="country", class!=attributes.class)
    option(value="0") Select
    option(value="1") Ukraine
    option(value="2") Poland
    option(value="3") USA
    option(value="4") Kanada
    option(value="5") France
    option(value="6") Spain