body {
  margin: 0;
}

.block-up {
  background-color: hsl(234, 50%, 13%);
  text-align: center;
  margin: auto;
  border: 2px solid black;
}

.block-up__button {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}

.block-up__link {
  color: #ce5200;
  text-decoration: none;
  font-size: 25px;
}
